# Analiza, inÅ¼ynieria i wizualizacja danych z NumPy, Pandas i Matplotlib
W tym notatnku znajdujÄ… siÄ™ zadania czÄ™Å›ci praktycznej prezentacji. Wykonanie zadaÅ„ jest moÅ¼liwe w Google Colab. Wszelkie potrzebne materiaÅ‚y moÅ¼na pobraÄ‡ z repozytorium GitHub: https://github.com/bingoobongoo/jpwp_projekt. Odpowiedzi do niektÃ³rych zadaÅ„ naleÅ¼y przesÅ‚aÄ‡ na platformÄ™ **UPEL**. Zadanie te bÄ™dÄ… specjalnie oznaczone, wystarczy skopiowaÄ‡ wynik i przesÅ‚aÄ‡ w odpowiedniej zakÅ‚adce. RozwiÄ…zania zadaÅ„ moÅ¼na znaleÅºÄ‡ w pliku ***answers.py*** znajdujÄ…cym siÄ™ w folderze *notebooks*.

Linki do dokumentacji moduÅ‚Ã³w:

* **Pandas**: https://pandas.pydata.org/docs/
* **NumPy**: https://numpy.org/doc/stable/reference/index.html#reference
* **Matplotlib**: https://matplotlib.org/stable/api/index

## SkrÃ³ty klawiszowe
Do sprawnej pracy w Google Colab warto korzystaÄ‡ z uÅ‚atwiajÄ…cych Å¼ycie skrÃ³tÃ³w klawiszowych, najwaÅ¼niejsze z nich wymieniono poniÅ¼ej:

* `Ctrl + M + B` - dodanie nowej komÃ³rki poniÅ¼ej aktualnie zaznaczonej
* `Ctrl + M + A` - dodanie nowej komÃ³rki powyÅ¼ej aktualnie zaznaczonej
* `Ctrl + M + D` - usuniÄ™cie aktualnie zaznaczonej komÃ³rki
* `Ctrl + Enter` - uruchomienie aktualnie zaznaczonej komÃ³rki
* `Shift + Enter` - uruchomienie aktualnie zaznaczonej komÃ³rki i przejÅ›cie do kolejnej
* `Ctrl + M + M` - zmienienie aktualnie zaznaczonej komÃ³rki na komÃ³rkÄ™ tekstowÄ… (markdown)
* `Ctrl + M + Y` - zmienienie aktualnie zaznaczonej komÃ³rki na komÃ³rkÄ™ kodu
* `Ctrl + M + .` - ponowne uruchomienie sesji Google Colab

## MoÅ¼liwe do napotkania problemy
Google Colab oferuje darmowe korzystanie z chmury, czyli mocy obliczeniowej zdalnego serwera. Czasem z rÃ³Å¼nych powodÃ³w poÅ‚Ä…czenie z serwerem moÅ¼e zostaÄ‡ przerwane. W takim wypadku naleÅ¼y ponownie nawiÄ…zaÄ‡ poÅ‚Ä…czenie z serwerem poprzez przycisk **poÅ‚Ä…cz** albo **poÅ‚Ä…cz ponownie**. NiezbÄ™dne bÄ™dzie takÅ¼e ponowne przesÅ‚anie plikÃ³w z danymi i odpowiedziami znajdujÄ…cymi siÄ™ w folderze *data*. Zmiany wprowadzone w notebooku zostanÄ… niezmienione, trzeba bÄ™dzie jedynie uruchomiÄ‡ od poczÄ…tku wszystkie komÃ³rki aÅ¼ do tej, gdzie ostatnio skoÅ„czyliÅ›my.

## Sprawdzanie poprawnoÅ›ci odpowiedzi
Pod kaÅ¼dym zadaniem (z wyjÄ…tkiem zadaÅ„ na UPEL) bÄ™dzie funkcja sprawdzajÄ…ca poprawnoÅ›Ä‡ odpowiedzi. Obiekt zawierajÄ…cy odpowiedÅº do zadania naleÅ¼y zapisaÄ‡ do odpowiednio nazwanej zmiennej, a nastÄ™pnie uruchomiÄ‡ komÃ³rkÄ™ sprawdzajÄ…cÄ…. Opcjonalnie, jako drugi argument funkcji sprawdzajÄ…cej moÅ¼na wpisaÄ‡ `True`, jeÅ›li chcemy uzyskaÄ‡ podpowiedÅº do zadania.

# Zadania praktyczne
Zacznijmy od zaimportowania odpowienich bibliotek oraz pierwszego zestawu danych. W przypadku bÅ‚Ä™du przy importowaniu plikÃ³w **.csv** sprawdÅº, czy sÄ… one przesÅ‚ane do odpowieniego folderu w Google Colab.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import answers as ans

In [2]:
pokemon_df = pd.read_csv('../data/pokemon.csv', index_col=0)

### I.
Zacznijmy od przyjrzenia siÄ™ naszemu zestawowi danych. WyÅ›wietl **10** pierwszych rzÄ™dÃ³w `pokemon_df` i zapisz je w zmiennej `first_ten`.

In [3]:
first_ten = pokemon_df.head(10)
first_ten

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
3,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
4,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
5,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
6,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
7,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
8,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
9,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False

In [4]:
ans.zad_1(first_ten, True)

ðŸ’¡ SprÃ³buj uÅ¼yÄ‡ funkcji head().
âœ“ Wynik poprawny!

### II.
Teraz wyÅ›wietl **5** ostatnich rzÄ™dÃ³w `pokemon_df` i zapisz je w zmiennej `last_five`.

In [5]:
last_five = pokemon_df.tail()
last_five

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
650,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
651,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
652,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
653,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
654,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [6]:
ans.zad_2(last_five, True)

ðŸ’¡ SprÃ³buj uÅ¼yÄ‡ funkcji tail().
âœ“ Wynik poprawny!

### III.
SprawdÅº, ile **wierszy** (rzÄ™dÃ³w) posiada `pokemon_df`, wyÅ›wietl tÄ… liczbÄ™ i zapisz jÄ… w zmiennej `rows_count`.

In [7]:
rows_count = pokemon_df.shape[0]
rows_count

655

In [8]:
ans.zad_3(rows_count, True)

ðŸ’¡ SprawdÅº atrybut `shape` obiektu `pokemon_df.
âœ“ Wynik poprawny!

### IV.
Teraz sprawdÅº liczbÄ™ **kolumn** w `pokemon_df`, wyÅ›wietl jÄ… i zapisz w zmiennej `columns_count`.

In [9]:
columns_count = pokemon_df.shape[1]
columns_count

12

In [10]:
ans.zad_4(columns_count, True)

ðŸ’¡ SprawdÅº atrybut `shape` obiektu `pokemon_df.
âœ“ Wynik poprawny!

### V.
Wybierz kolumnÄ™ `Speed` w `pokemon_df`, zapisz jÄ… w zmiennej `speed_col` i wyÅ›wietl wynik.

In [11]:
speed_col = pokemon_df['Speed']
speed_col

0       45
1       60
2       65
3       80
4       43
      ...
650     55
651    123
652     99
653     99
654     70
Name: Speed, Length: 655, dtype: int64

In [12]:
ans.zad_5(speed_col, True)

ðŸ’¡ SprÃ³buj wybraÄ‡ kolumnÄ™ stosujÄ…c nawiasy kwadratowe [].
âœ“ Wynik poprawny!

### VI.
Wykorzystaj zmiennÄ… `speed_col` z poprzedniego zadania, znajdÅº jakiego **typu** jest ta zmienna i zapisz odpowiedÅ¼ w nowej zmiennej `speed_dtype`.

***UWAGA***: Nie uÅ¼wyaj funkcji `type()` z biblioteki standardowej Python, tylko wykorzystaj narzÄ™dzia bibliotek Pandas lub Numpy.

In [13]:
speed_dtype = speed_col.dtype
speed_dtype

dtype('int64')

In [14]:
name = speed_dtype.name
ans.zad_6(name, True)

ðŸ’¡ SprawdÅº atrybut `dtype` kolumny `speed_col`.
âœ“ Wynik poprawny!

### VII. (UPEL - Zadanie 1)
Ile kolumn w `pokemon_df` posiada typ `object`? Wykorzystaj dostÄ™pne narzÄ™dzia i funkcje, a w razie potrzeby skorzystaj z internetu Å¼eby znaleÅºÄ‡ odpowiedÅº. W UPEL w zakÅ‚adce `Zadanie 1` przeÅ›lij **liczbÄ™ kolumn**, ktÃ³re posiadajÄ… wspomniany wczeÅ›niej typ danych.

In [15]:
(pokemon_df.dtypes == 'object').sum()

3

### VIII.
ZnajdÅº, jaka jest maksymalna wartoÅ›Ä‡ w kolumnie `HP` w `pokemon_df`. Zapisz jÄ… w zmiennej `max_hp` i wyÅ›wietl.

In [16]:
max_hp = pokemon_df['HP'].max()
max_hp

255

In [17]:
ans.zad_8(max_hp, True)

ðŸ’¡ Wybierz odpowiedniÄ… kolumnÄ™ i wykorzytaj funkcjÄ™ max().
âœ“ Wynik poprawny!

### IX.
WyÅ›wietl rekord (wiersz) z `pokemon_df` odpowiadajÄ…cy pokemonowi, ktÃ³ry posiada najwiÄ™kszÄ… wartoÅ›Ä‡ `HP`, a takÅ¼e zapisz ten rekord w zmiennej `max_hp_pokemon`. Wykorzystaj wynik z poprzedniego zadania.

In [18]:
max_hp_pokemon = pokemon_df[pokemon_df['HP'] == max_hp]
max_hp_pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
222,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [19]:
ans.zad_9(max_hp_pokemon, True)

ðŸ’¡ UÅ¼yj nawiasÃ³w kwadratowych [], a w nich sprÃ³buj zapisaÄ‡ wyraÅ¼enie, ktÃ³re zwraca wartoÅ›Ä‡ logicznÄ… True lub False: `pokemon_df[pokemon_df['HP'] == ...]`.
âœ“ Wynik poprawny!

### X.
ZnajdÅº, jaka jest minimalna wartoÅ›Ä‡ w kolumnie `HP` w `pokemon_df`. Zapisz jÄ… w zmiennej `min_hp` i wyÅ›wietl.

In [20]:
min_hp = pokemon_df['HP'].min()
min_hp

1

In [21]:
ans.zad_10(min_hp, True)

ðŸ’¡ Wybierz odpowiedniÄ… kolumnÄ™ i wykorzytaj funkcjÄ™ min().
âœ“ Wynik poprawny!

### XI.
WyÅ›wietl rekord (wiersz) z `pokemon_df` odpowiadajÄ…cy pokemonowi, ktÃ³ry posiada najmniejszÄ… wartoÅ›Ä‡ `HP`, a takÅ¼e zapisz ten rekord w zmiennej `min_hp_pokemon`. Wykorzystaj wynik z poprzedniego zadania.

In [22]:
min_hp_pokemon = pokemon_df[pokemon_df['HP'] == min_hp]
min_hp_pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
267,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False

In [23]:
ans.zad_11(min_hp_pokemon, True)

ðŸ’¡ UÅ¼yj nawiasÃ³w kwadratowych [], a w nich sprÃ³buj zapisaÄ‡ wyraÅ¼enie, ktÃ³re zwraca wartoÅ›Ä‡ logicznÄ… True lub False: `pokemon_df[pokemon_df['HP'] == ...]`.
âœ“ Wynik poprawny!

### XII.
StwÃ³rz kolumnÄ™ (obiekt pd.Series), ktÃ³ra bÄ™dzie posiadaÄ‡ stosunek `Attack` do `Defense` dla kaÅ¼dego pokemona w `pokemon_df`. Wynik zapisz do zmiennej `att_to_def_ratio` i wyÅ›wietl.

In [ ]:
att_to_def_ratio = pokemon_df['Attack']/pokemon_df['Defense']
att_to_def_ratio

In [ ]:
ans.zad_12(att_to_def_ratio, True)

### XIII.
ZnajdÅº, jaka jest maksymalna wartoÅ›Ä‡ w `att_to_def_ratio`, zapisz jÄ… do zmiennej `max_att_def_ratio`, a nastÄ™pnie znajdÅº rekord z odpowiadajÄ…cym tej wartoÅ›ci pokemonem w `pokemon_df`. Zapisz ten rekord do zmiennej `glass_cannon`.

In [ ]:
max_att_def_ratio = att_to_def_ratio.max()
idx = att_to_def_ratio[att_to_def_ratio == max_att_def_ratio].index[0]
glass_cannon = pokemon_df.iloc[idx]

In [ ]:
ans.zad_13(glass_cannon, True)

### XIV.
StwÃ³rz tabelÄ™ (DataFrame) zawierajÄ…cy wszystkie pokemony z `pokemon_df`, ktÃ³rych `Type 2` to ***Fighting*** i ktÃ³rych `Speed` jest **wiÄ™kszy niÅ¼ 50**. Zapisz jÄ… do zmiennej `filtered_pokemons` i wyÅ›wietl.

In [ ]:
filtered_pokemons = pokemon_df[
    (pokemon_df['Type 2'] == 'Fighting') &
    (pokemon_df['Speed'] > 50)
]

filtered_pokemons

### XV. (UPEL - Zadanie 2)
W `pokemon_df` znajdÅº rekord (wiersz) pokemona, ktÃ³ry:
* Jest **legendarny** (`Legendary` ma wartoÅ›Ä‡ True).
* Jego `Type 1` to ***Steel***.
* Jego `Generation` jest **wiÄ™kszy niÅ¼ 3**.
* Jego `Speed` jest **wiÄ™kszy niÅ¼ 100**.

Zapisz ten wiersz do zmiennej `legendary_pokemon` i wyÅ›wietl go. Na UPEL przeÅ›lij **nazwÄ™** tego pokemona.

In [ ]:
legendary_pokemon = pokemon_df[
    (pokemon_df['Legendary'] == True) &
    (pokemon_df['Type 1'] == 'Steel') &
    (pokemon_df['Generation'] > 3) &
    (pokemon_df['Speed'] > 100)
]

legendary_pokemon

### XVI.
Jakie to pokemony, ktÃ³rych suma wszystkich atrybutÃ³w (`Total`) wynosi **420** i jednoczeÅ›nie sÄ… smokami (`Type 1` to ***Dragon***)? OdpowiadajÄ…ce im rekordy w `pokemon_df` zapisz w zmiennej `dragons_420` i wyÅ›wietl.

In [ ]:
dragons_420 = pokemon_df[
    (pokemon_df['Total'] == 420) &
    (pokemon_df['Type 1'] == 'Dragon')
]

dragons_420

In [ ]:
ans.zad_16(dragons_420, True)

### XVII.
SpoÅ›rÃ³d pokemonÃ³w w `pokemon_df`, ktÃ³rych gÅ‚Ã³wnym typem jest ogieÅ„ (`Type 1` to ***Fire***), znajdÅº tego, ktÃ³ry ma najwiÄ™kszÄ… wartoÅ›Ä‡ `Defense`. OdpowiedÅº zapisz w zmiennej `fire_tank` i wyÅ›wietl.

In [ ]:
fire_tank = pokemon_df[pokemon_df['Type 1'] == 'Fire'].sort_values(by=['Defense'], ascending=False).head(1)
fire_tank

### XVIII.
ZnajdÅº, jaki jest najczÄ™Å›ciej wystÄ™pujÄ…cy gÅ‚Ã³wny typ (`Type 1`) wÅ›rÃ³d pokemonÃ³w legendarnych. OdpowiedÅº jako **string** zapisz w zmiennej `most_common_legend_type`. W przypadku remisu decyduje kolejnoÅ›Ä‡ alfabetyczna.

In [ ]:
pokemon_df[pokemon_df['Legendary'] == True]['Type 1'].value_counts()

In [ ]:
most_common_legend_type = 'Fire'

In [ ]:
ans.zad_18(most_common_legend_type, True)

### XIX.
StwÃ³rz histogram przedstawiajÄ…cy rozkÅ‚ad wartoÅ›ci w kolumnie `HP`.

In [ ]:
pokemon_df['HP'].hist()

### XX.
StwÃ³rz obiekt *pd.Series*, ktÃ³ry bÄ™dzie zawieraÅ‚ informacje o tym, ile pokemonÃ³w naleÅ¼y do poszczegÃ³lnych generacji (`Generation`). Zapisz go do zmiennej `generations` i wyÅ›wietl.

In [ ]:
generations = pokemon_df['Generation'].value_counts()
generations

In [ ]:
ans.zad_20(generations, True)

### XXI. (UPEL - Zadanie 3)
BazujÄ…c na wyniku z poprzedniego zadania (zmienna `generations`), utwÃ³rz **procentowy** wykres koÅ‚owy wizualizujÄ…cy informacje przedstawione w tej zmiennej. Wykres powinien zawieraÄ‡ **tytuÅ‚** i byÄ‡ czytelny.

In [ ]:
generations.plot(kind='pie',
                 title='LiczebnoÅ›Ä‡ pokemonÃ³w w poszczegÃ³lnych generacjach', 
                 autopct='%.2f%%')

### XXII. (UPEL - Zadanie 4)
StwÃ³rz wykres typu **scatter** przedstawiajÄ…cy `Attack` i `Defence` pokemonÃ³w latajÄ…cych (`Type 1` lub `Type 2` to ***Flying***). Wykres powinien zawieraÄ‡:
* Odpowiedni **tytuÅ‚**.
* OÅ› **X** ma przedstawiaÄ‡ wartoÅ›ci z kolumny `Defense` i mieÄ‡ odpowiednie oznaczenie (label).
* OÅ› **Y** ma przedstawiaÄ‡ wartoÅ›ci z kolumny `Attack` i mieÄ‡ odpowiednie oznaczenie (label.
* Wykres ma mieÄ‡ **grid** (siatkÄ™).

Zacznij od zapisania wszystkich pokemonÃ³w latajÄ…cych do zmiennej `flying_pokemons`.

In [ ]:
flying_pokemons = pokemon_df[
    (pokemon_df['Type 1'] == 'Flying') |
    (pokemon_df['Type 2'] == 'Flying')
]

flying_pokemons

In [ ]:
flying_pokemons.plot(kind='scatter',
                     title='Obrona i atak latajÄ…cych pokemonÃ³w',
                     x=['Defense'],
                     y=['Attack'],
                     xlabel='Defense',
                     ylabel='Attack',
                     grid=True)