# Analiza, in≈ºynieria i wizualizacja danych z NumPy, Pandas i Matplotlib
W tym notatnku znajdujƒÖ siƒô zadania czƒô≈õci praktycznej prezentacji. Wykonanie zada≈Ñ jest mo≈ºliwe w Google Colab. Wszelkie potrzebne materia≈Çy mo≈ºna pobraƒá z repozytorium GitHub: https://github.com/bingoobongoo/jpwp_projekt. Odpowiedzi do niekt√≥rych zada≈Ñ nale≈ºy przes≈Çaƒá na platformƒô **UPEL**. Zadanie te bƒôdƒÖ specjalnie oznaczone, wystarczy skopiowaƒá wynik i przes≈Çaƒá w odpowiedniej zak≈Çadce. RozwiƒÖzania zada≈Ñ mo≈ºna znale≈∫ƒá w pliku ***answers.py*** znajdujƒÖcym siƒô w folderze *notebooks*.

Linki do dokumentacji modu≈Ç√≥w:

* **Pandas**: https://pandas.pydata.org/docs/
* **NumPy**: https://numpy.org/doc/stable/reference/index.html#reference
* **Matplotlib**: https://matplotlib.org/stable/api/index

## Skr√≥ty klawiszowe
Do sprawnej pracy w Google Colab warto korzystaƒá z u≈ÇatwiajƒÖcych ≈ºycie skr√≥t√≥w klawiszowych, najwa≈ºniejsze z nich wymieniono poni≈ºej:

* `Ctrl + M + B` - dodanie nowej kom√≥rki poni≈ºej aktualnie zaznaczonej
* `Ctrl + M + A` - dodanie nowej kom√≥rki powy≈ºej aktualnie zaznaczonej
* `Ctrl + M + D` - usuniƒôcie aktualnie zaznaczonej kom√≥rki
* `Ctrl + Enter` - uruchomienie aktualnie zaznaczonej kom√≥rki
* `Shift + Enter` - uruchomienie aktualnie zaznaczonej kom√≥rki i przej≈õcie do kolejnej
* `Ctrl + M + M` - zmienienie aktualnie zaznaczonej kom√≥rki na kom√≥rkƒô tekstowƒÖ (markdown)
* `Ctrl + M + Y` - zmienienie aktualnie zaznaczonej kom√≥rki na kom√≥rkƒô kodu
* `Ctrl + M + .` - ponowne uruchomienie sesji Google Colab

## Mo≈ºliwe do napotkania problemy
Google Colab oferuje darmowe korzystanie z chmury, czyli mocy obliczeniowej zdalnego serwera. Czasem z r√≥≈ºnych powod√≥w po≈ÇƒÖczenie z serwerem mo≈ºe zostaƒá przerwane. W takim wypadku nale≈ºy ponownie nawiƒÖzaƒá po≈ÇƒÖczenie z serwerem poprzez przycisk **po≈ÇƒÖcz** albo **po≈ÇƒÖcz ponownie**. Niezbƒôdne bƒôdzie tak≈ºe ponowne przes≈Çanie plik√≥w z danymi i odpowiedziami znajdujƒÖcymi siƒô w folderze *data*. Zmiany wprowadzone w notebooku zostanƒÖ niezmienione, trzeba bƒôdzie jedynie uruchomiƒá od poczƒÖtku wszystkie kom√≥rki a≈º do tej, gdzie ostatnio sko≈Ñczyli≈õmy.

## Sprawdzanie poprawno≈õci odpowiedzi
Pod ka≈ºdym zadaniem (z wyjƒÖtkiem zada≈Ñ na UPEL) bƒôdzie funkcja sprawdzajƒÖca poprawno≈õƒá odpowiedzi. Obiekt zawierajƒÖcy odpowied≈∫ do zadania nale≈ºy zapisaƒá do odpowiednio nazwanej zmiennej, a nastƒôpnie uruchomiƒá kom√≥rkƒô sprawdzajƒÖcƒÖ. Opcjonalnie, jako drugi argument funkcji sprawdzajƒÖcej mo≈ºna wpisaƒá `True`, je≈õli chcemy uzyskaƒá podpowied≈∫ do zadania.

# Zadania praktyczne
Zacznijmy od zaimportowania odpowienich bibliotek oraz pierwszego zestawu danych. W przypadku b≈Çƒôdu przy importowaniu plik√≥w **.csv** sprawd≈∫, czy sƒÖ one przes≈Çane do odpowieniego folderu w Google Colab.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import answers as ans

In [2]:
pokemon_df = pd.read_csv('../data/pokemon.csv', index_col=0)

### I.
Zacznijmy od przyjrzenia siƒô naszemu zestawowi danych. Wy≈õwietl **10** pierwszych rzƒôd√≥w `pokemon_df` i zapisz je w zmiennej `first_ten`.

In [3]:
first_ten = pokemon_df.head(10)
first_ten

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
3,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
4,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
5,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
6,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
7,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False
8,Butterfree,Bug,Flying,395,60,45,50,90,80,70,1,False
9,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False

In [4]:
ans.zad_1(first_ten, True)

üí° Spr√≥buj u≈ºyƒá funckji head().
‚úì Wynik poprawny!

### II.
Teraz wy≈õwietl **5** ostatnich rzƒôd√≥w `pokemon_df` i zapisz je w zmiennej `last_five`.

In [5]:
last_five = pokemon_df.tail()
last_five

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
650,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
651,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
652,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
653,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
654,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
ans.zad_2(last_five, True)

### III.
Sprawd≈∫, ile **wierszy** (rzƒôd√≥w) posiada `pokemon_df`, wy≈õwietl tƒÖ liczbƒô i zapisz jƒÖ w zmiennej `rows_count`.

In [7]:
rows_count = pokemon_df.shape[0]
rows_count

655

In [ ]:
ans.zad_3(rows_count, True)

### IV.
Teraz sprawd≈∫ liczbƒô **kolumn** w `pokemon_df`, wy≈õwietl jƒÖ i zapisz w zmiennej `columns_count`.

In [8]:
columns_count = pokemon_df.shape[1]
columns_count

12

In [ ]:
ans.zad_4(columns_count, True)

### V.
Wybierz kolumnƒô `Speed` w `pokemon_df`, zapisz jƒÖ w zmiennej `speed_col` i wy≈õwietl wynik.

In [9]:
speed_col = pokemon_df['Speed']
speed_col

0       45
1       60
2       65
3       80
4       43
      ...
650     55
651    123
652     99
653     99
654     70
Name: Speed, Length: 655, dtype: int64

In [ ]:
ans.zad_5(speed_col, True)

### VI.
Wykorzystaj zmiennƒÖ `speed_col` z poprzedniego zadania, znajd≈∫ jakiego **typu** jest ta zmienna i zapisz odpowied≈º w nowej zmiennej `speed_dtype`.

***UWAGA***: Nie u≈ºwyaj funkcji `type()` z biblioteki standardowej Python, tylko wykorzystaj narzƒôdzia bibliotek Pandas lub Numpy.

In [14]:
speed_dtype = speed_col.dtype
speed_dtype

dtype('int64')

In [ ]:
name = speed_dtype.name
ans.zad_6(name, True)

### VII. (UPEL - Zadanie 1)
Ile kolumn w `pokemon_df` posiada typ `object`? Wykorzystaj dostƒôpne narzƒôdzia i funkcje, a w razie potrzeby skorzystaj z internetu ≈ºeby znale≈∫ƒá odpowied≈∫. W UPEL w zak≈Çadce `Zadanie 1` prze≈õlij **liczbƒô kolumn**, kt√≥re posiadajƒÖ wspomniany wcze≈õniej typ danych.

In [18]:
(pokemon_df.dtypes == 'object').sum()

3

### VIII.
Znajd≈∫, jaka jest maksymalna warto≈õƒá w kolumnie `HP` w `pokemon_df`. Zapisz jƒÖ w zmiennej `max_hp` i wy≈õwietl.

In [24]:
max_hp = pokemon_df['HP'].max()
max_hp

255

In [ ]:
ans.zad_8(max_hp, True)

### IX.
Wy≈õwietl rekord (wiersz) z `pokemon_df` odpowiadajƒÖcy pokemonowi, kt√≥ry posiada najwiƒôkszƒÖ warto≈õƒá `HP`, a tak≈ºe zapisz ten rekord w zmiennej `max_hp_pokemon`. Wykorzystaj wynik z poprzedniego zadania.

In [28]:
max_hp_pokemon = pokemon_df[pokemon_df['HP'] == max_hp]
max_hp_pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
222,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False

In [ ]:
ans.zad_9(max_hp_pokemon, True)

### X.